.navbar {
    margin-bottom: 1.125rem;
    border-bottom: 1px solid var(--color-gray-100);
}

.navbar_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.5rem;
}

@media (max-width: 530px) {
    .navbar {
        border-bottom: none;
    }

    .navbar_nav {
        display: none;
        flex-direction: column;
        padding: 0;
    }

    .navbar_nav.show {
        display: flex;
    }
}
